/* keep icons in header closer */
#header .right.menu .item {
  padding: .71428571em 0;
}
#header .right.menu .item i {
  margin: 0 2px;
}
#header .right.menu .item:last-child {
  padding-right: 16px;
}

/* customize text color of header and content */
#header .ui.container.text .item:not(.active) {
  color: #c2c2c2;
}
#header .ui.container.text .item.active,
#header .ui.container.text .item:hover,
.ui.container.text {
  color: #808080;
}
#header .ui.container.text .item.active {
  font-weight: normal;
  border-color: rgba(0, 0, 0, 0);
}

/* customize contribution list */
#contributions li a {
  color: #808080;
}
#contributions li a:nth-child(2) i {
  margin-left: 4px;
}
#contributions li a i {
  margin-right: 0;
}
#contributions li .meta {
  color: #c2c2c2;
}

/* customize footer text color */
#footer {
  color: #c2c2c2;
}
