---
---

$no-margin: 0
$margin-to-center: 0 auto
$no-padding: 0

$font-size: 16px
$font-color: #333
$font-color-subtle: #bbb
$font-family: 'Inconsolata', monospace
$font-weight: 400

$paragraph-margin: $font-size 0

$link-font-color: #33c
$link-text-decoration: none
$link-hover-text-decoration: underline
$link-hover-cursor: pointer

$blockquote-font-color: #888
$blockquote-link-color: #333
$blockquote-background-color: #f8f8f8
$blockquote-margin: $paragraph-margin
$blockquote-padding: 0.5 * $font-size 0.5 * $font-size 0.5 * $font-size 1.5 * $font-size
$blockquote-border-left: 4px solid #ddd

$hX-margin-top: 1 * $font-size
$hX-margin-bottom: 1 * $font-size
$hX-font-weight: $font-weight
$h1-font-size: 2 * $font-size
$h2-font-size: 1.5 * $font-size

$nickname-font-color: $font-color-subtle

$wrapper-max-width: 640px
$wrapper-padding: 1 * $font-size 2 * $font-size

$image-width: 100%

$content-list-style-type: none
$content-list-item-before-chars: "> "
$content-list-item-padding: 0
$content-list-item-margin: 2px 0

$footer-font-color: $font-color-subtle
$footer-margin-top: 2 * $font-size
$footer-text-align: center

@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 400
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/assets/font.ttf) format('truetype')

body
  margin: $no-margin
  padding: $no-padding

  font-family: $font-family
  font-size: $font-size
  font-weight: $font-weight
  color: $font-color

h1, h2, h3, h4, h5, h6
  margin-top: $hX-margin-top
  margin-bottom: $hX-margin-bottom
  font-weight: $hX-font-weight

  & + *
    margin-top: $hX-margin-bottom

h1
  font-size: $h1-font-size

h2
  font-size: $h2-font-size

p
  margin: $paragraph-margin

a
  text-decoration: $link-text-decoration
  color: $link-font-color

  &:hover
    text-decoration: $link-hover-text-decoration
    cursor: $link-hover-cursor

  &:visited
    color: $link-font-color

  &.back, &.back:hover, &.back:visited
    color: $font-color

blockquote
  color: $blockquote-font-color
  background: $blockquote-background-color
  border-left: $blockquote-border-left
  margin: $blockquote-margin
  padding: $blockquote-padding

  p
    margin: $no-margin

  a, a:hover, a:visited
    color: $blockquote-link-color

.nickname
  color: $nickname-font-color

#wrapper
  max-width: $wrapper-max-width
  margin: $margin-to-center
  padding: $wrapper-padding

main
  img
    width: $image-width

  ul
    padding: $no-padding
    list-style-type: $content-list-style-type

    li
      padding: $content-list-item-padding
      margin: $content-list-item-margin

      span.post-date
        float: right
        color: $font-color-subtle

      &:before
        font-size: $font-size
        content: $content-list-item-before-chars

footer
  margin-top: $footer-margin-top
  text-align: $footer-text-align
  color: $footer-font-color

  p
    margin: $no-margin
