---
---

$no-margin: 0
$margin-to-center: 0 auto
$no-padding: 0

$font-size: 16px
$font-color: #333
$font-color-subtle: #ccc
$font-family: 'Inconsolata', monospace
$font-weight: 400

$link-font-color: #33c
$link-text-decoration: none
$link-hover-text-decoration: underline
$link-hover-cursor: pointer

$hX-margin-top: 1 * $font-size
$hX-margin-bottom: 1 * $font-size
$hX-font-weight: $font-weight
$h1-font-size: 2 * $font-size
$h2-font-size: 1.5 * $font-size

$nickname-font-color: $font-color-subtle

$wrapper-max-width: 640px
$wrapper-padding: 1 * $font-size

$content-list-style-type: none
$content-list-item-padding: $font-size / 4 0

$footer-font-color: $font-color-subtle
$footer-margin-top: 2 * $font-size
$footer-text-align: center

body
  margin: $no-margin
  padding: $no-padding

  font-family: $font-family
  font-size: $font-size
  font-weight: $font-weight
  color: $font-color

h1, h2, h3, h4, h5, h6
  margin-top: $hX-margin-top
  margin-bottom: $hX-margin-bottom
  font-weight: $hX-font-weight

  & + p, & + ul
    margin-top: $hX-margin-bottom

h1
  font-size: $h1-font-size

h2
  font-size: $h2-font-size

a
  text-decoration: $link-text-decoration
  color: $link-font-color

  &:hover
    text-decoration: $link-hover-text-decoration
    cursor: $link-hover-cursor

  &:visited
    color: $link-font-color

.nickname
  color: $nickname-font-color

#wrapper
  max-width: $wrapper-max-width
  margin: $margin-to-center
  padding: $wrapper-padding

#content
  ul
    padding: $no-padding
    list-style-type: $content-list-style-type

    li
      padding: $content-list-item-padding

    p
      margin: $no-margin

footer
  margin-top: $footer-margin-top
  text-align: $footer-text-align
  color: $footer-font-color

  p
    margin: $no-margin
