<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="{{ site.encoding }}">

    {% include head/metaTags.html %}

    <title>fefas.net</title>

    {% include head/favicon.html %}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/assets/script.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    {% include head/googleAnalytics.html %}

  </head>

  <body>

    {% include header.html %}

    <div id=content class="ui text container">{{ content }}</div>

    {% include footer.html %}

  </body>

</html>
