<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="{{ site.encoding }}">

    <meta name="author" content="{{ site.data.me.nickname }} ({{ site.data.me.name }})">
    <meta name="reply-to" content="{{ site.data.me.email }}">
    <meta name="application-name" content="{{ site.data.me.nickname }}'s website">
    <meta name="description" content="Website of the software developer {{ site.data.me.name}} with content that may help others developers to work better.">
    <meta name="keywords" content="{{ site.data.me.nickname }}, {{ site.data.me.name }}">

    <title>fefas.net</title>

    {% include head/favicon.html %}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/assets/script.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    {% include head/googleAnalytics.html %}

  </head>

  <body>

    {% include header.html %}

    <div id=content class="ui text container">{{ content }}</div>

    {% include footer.html %}

  </body>

</html>
